body{
    background-image:url("images/environmental.jpg");
    padding:0;
    margin:0;
    color:#fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    font-family:'Times New Roman', Times, serif;
}
a{
    text-decoration:none;
}
#navbar{
    width:100%;
    position:fixed;
    transition:0.3s;
    top:-50px;
    left:0;
    background-color:rgb(0,0,0);
    box-shadow:0px 3px 4px rgb(90, 90, 90);
    opacity:0.9;
    z-index:1;
    display:flex;
}
#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 17px;
}
#navbar a:hover {
    background-color: #ddd;
    color: black;
}
.mediadk{
    position:fixed;
    text-align:center;
    color:#fff;
    width:30px;
    left:0px;
    top:260px;
}
.mediadk a{
    color:#fff;
}
.facebook{
    background-color:#4267B2;
}
.whatsapp{
    background-color:green;
}
.instagram{
    background-color:#fbad50;
}
.twitter{
    background-color:#00ACEE;
}
.youtube{
    background-color:#FF0000;
}
ul{
    padding:0;
    margin:0;
    list-style:none;
}
.mediadk ul{
    width:100%;
}
.mediadk li{
    width:100%;
    opacity:0.7;
}
.mediadk li:hover{
    opacity:1;
    transition:1s;
    font-weight:bolder;
}
#midcnt{
    width:100%;
    border-top:#000 5px solid;
    display:flex;
    transition: ease-in-out 2s;
    background-color:#fff;
    flex-direction:row;
    flex-wrap:wrap;
}
#blog_image img{
    height:350px;
    width:100%;
}
article{
    width:70%;
    text-align:justify;
    border-right:#fff 1px solid;
    color: #000;
    padding:20px 10px 10px 10px;
    line-height:30px;
}
.postimg{
    width:100%;
    height:400px;
}
article h4{
    text-align:center;

}
.article_link{
    margin:120px 0px 120px 0px;
    width:100%;
}
.article_link li{
    height:30px;
    padding:5px 0px 0px 0px;
    border-bottom:green 1px solid;
    background-color:#fff;
}
.article_link li a{
    color:#000;
    vertical-align: middle;
}
.sidebar{
   width:30%;
   padding-top:30px;
   border-left:#000 2px solid;
   text-align:center;
   background-color: #555;
}

#advert{
    height:350px;
    width:100%;
    padding:0;
    background-color:#000;
    margin:0;
}
#advert img{
    width:100%;
    height:350px;
    animation-timing-function:ease;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    
}
@keyframes move_one{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}
@keyframes move_two{
    from{
        height:0;
    }
    to{
        height:530px;
    }
}

#buttons{
    width:100%;
    
    padding:0;
    margin:0;
    text-align:center;
    background-color:#333;
    overflow:hidden;
}
#buttons img{
    width:7px;
    height:7px;
    margin:0;
    top:0;
}
@media screen and (max-width:750px){
    
}

#footer::before{
    clear:both;
}
#footer{
    width:100%;
    background:linear-gradient(to top, rgb(255, 255,255,1)10%, rgb(255,255,255,0.1)90%);
    box-shadow: 0px 0px 5px 0px rgb(255,255,255,0.4);
    display:flex;
    flex-direction:row;
    padding:0px 0px 0px 50px;
}
ul{
    list-style:none;
    padding:0;
    margin:0;
}
.links{
    width:65%;
}
.media{
    width:35%;
    padding:30px 0px 0px 0px;
    text-align:center;
    border-left:#000 1px solid;
}
.media ul{
    width:100%;
    text-align:center;
    margin-bottom:10px;
}
.media ul li{
    width:8%;
    padding:0;
    text-align:center;
    margin:0px 10px 0px 0px;
    display:inline-block;
}
.media img:hover{
    height:30px;
    width:30px;
}
.media img{
    height:25px;
    width:25px;
}
.media input{
    border:none;
    margin:0;
    padding:10;
    height:40px;
}
.media input:focus{
    outline:none;
}
.newsmail{
    width:70%;
    padding-left:12px;
}
.newssend{
    width:70%;
    margin-top:10px;
}
footer{
    width:100%;
    background-color:#000;
    text-align:center;
}

@keyframes advertise {
    from{

    }
    to{

    }
    
}