#slider{
    height:480px;
    width:100%;
    padding:0;
    background-color:#000;
    margin:0;
    box-shadow:0px 2px 2px rgb(200,200,200);
}
#slider img{
    width:100%;
    height:470px;
    animation-timing-function:ease;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    
}
@keyframes move_one{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}
@keyframes move_two{
    from{
        height:0;
    }
    to{
        height:530px;
    }
}

#buttons{
    width:100%;
    
    padding:0;
    margin:0;
    text-align:center;
    background-color:#333;
    overflow:hidden;
}
#buttons img{
    width:7px;
    height:7px;
    margin:0;
    top:0;
}
@media screen and (max-width:750px){
    #slider{
        height:430px;
    }
    #slider img{
        height:400px;
        transition:2s;
    }
    #buttons img{
        width:2%;
        height:10px;
    }
}