body{
    background-color:#000;
    padding:0;
    margin:0;
    color:#fff;
    font-family:'Times New Roman', Times, serif;
}

#navbar{
    width:100%;
    position:fixed;
    transition:0.3s;
    top:-50px;
    left:0;
    background-color:rgb(0,0,0);
    box-shadow:0px 3px 4px rgb(90, 90, 90);
    opacity:0.9;
    z-index:1;
    display:inline-flex;
}

.logo{
    width:40%;
    margin-top:12px;
}

.logo img{
    width:150px;
}

.navlink{
    width:60%;
    z-index:1;
    transition:2s;
}

.navlink div ul li{
    padding-left:10px;
    text-align:center;
}

#navbar a {
    display:inline-flex;
    color: #f2f2f2;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 17px;
}

#navbar a:hover {
    Border-bottom:#008C00 1px solid;
    transition:1s;
}

#slideshow{
    margin-top:10px;
    width:100%;
    left:0;
}

#slideshow::after{
    clear:both;
}

.carousel-inner img{
    height:600px;
}

a:link{
    text-decoration:none;
    color:#fff;
}

a:visited{
    color:#999;
}

a:hover{
    color:#008000;
}

a:active{
    color:#fff;
}


.speech{
    background:linear-gradient(to left bottom, rgba(0,255,0,0.4) 35%, rgba(0,240,0,0.2) 15%);
    width:100%;
    box-shadow: #000 0px 0px 10px;
    margin-top:8px;
    display:flex;
    padding:60px;
    text-align:center;
    flex-wrap:wrap;
}

.avater{
    flex-grow:2;
    justify-content:center;
}

.avater div{
    border-radius:50% 50%;
    height:203px;
    width:203px;
    text-align:center;
    margin:auto;
    box-shadow: #008C00 0px 0px 4px;
    background-color:#fff;
}

.avater img{
    height:200px;
    width:200px;
    margin-top:2px;
    border-radius:50% 50%;
}

.preserve{
    flex-grow:8;
    justify-content: right;
}

.preserve p{
    text-align:center; 
    color:#999;
}

#earth-container{
    margin:0;
    width:100%;
    padding:180px 0px 0px 0px;
    background-image:url("images/environmental.jpg");
    background-attachment:fixed;
    background-position:center;
    background-repeat:no-repeat;
    height:400px;
    text-align:center;
}

#earth-container{
    justify-content: center;
}

#earth-container h4{
    font-weight:bolder;
    animation-name:earth;
    animation-timing-function: ease-in-out;
    transition:2s;
    animation-iteration-count: infinite;
    animation-duration: 4s;
}

@keyframes earth{
    0%{
       color:#ff0000; 
    }
    13%{
        color:#ffa500;
    }
    26%{
        color:#ffff00;
    }
    39%{
        color:#008000;
    }
    52%{
        color:#0000ff;
    }
    65%{
        color:#4b0082;
    }
    100%{
        color:#ee82ee;
    }
}

#mid-container{
    width:100%;
    border-top:#000 5px solid;
    padding-top:15px;
    opacity:0;
    display:flex;
    transition: ease-in-out 2s;
    background-color:green;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
}

#mid-container section{
    width:200px;
    text-align:center;
    height:200px;
    transition: ease-in-out 2s;
    border-radius:50% 50%;
}

#mid-container img{
    height:150px;
    width:150px;
    animation:pop 1.5s ease-in 1s normal;
    -webkit-animation:pop 1.5s ease-in 1s normal;
    -o-animation:pop 1.5s ease-in 1s normal;
    -ms-zoom-animation:pop 1.5s ease-in 1s normal;
    -moz-animation:pop 1.5s ease-in 1s normal;
    border-radius:50% 50%;
}

#mid-container h4{
    position:absolute;
    margin:5% 0px 0px 5%;
    text-align:center;
    font-weight:bold;
    opacity:1;
}

#mid-container section p{
    line-height:18px;
}

.mid-item1{
    background-image:url("images/owl.jpg");
}

#mid-container::after{
    clear:both;
}

/* ------ Blog Page Additional css----- */
.blogbody{
    background-image:url("images/environmental.jpg");
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
}
#blog-image img{
    height:350px;
    width:100%;
}

.blog-bg{
    background-image:url("images/environmental.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}

.blog-container{
    width:90%;
    margin:auto;
}
    /* ----- Blog side Media links -------------*/
    .side-media{
        position:fixed;
        text-align:center;
        color:#fff;
        width:30px;
        left:0px;
        top:260px;
    }
    .side-media a{
        color:#fff;
    }
    .facebook{
        background-color:#4267B2;
    }
    .whatsapp{
        background-color:green;
    }
    .instagram{
        background-color:#fbad50;
    }
    .twitter{
        background-color:#00ACEE;
    }
    .youtube{
        background-color:#FF0000;
    }
    ul{
        padding:0;
        margin:0;
        list-style:none;
    }
    .side-media ul{
        width:100%;
    }
    .side-media li{
        width:100%;
        opacity:0.7;
    }
    .side-media li:hover{
        opacity:1;
        transition:1s;
        font-weight:bolder;
    }
    #blog-content{
        width:100%;
        border-top:#000 5px solid;
        display:flex;
        transition: ease-in-out 2s;
        background-color:#fff;
        flex-direction:row;
        flex-wrap:wrap;
    }
    /* media link ends here */
article{
    width:70%;
    text-align:justify;
    border-right:#fff 1px solid;
    color: #000;
    background-color:snow;
    padding:20px 10px 10px 10px;
    line-height:30px;
}
.blog-search{
    width:100%;
}
.postimg{
    width:100%;
    height:400px;
}
article h4{
    text-align:center;
    
}
#article-link{
    margin:120px 0px 120px 0px;
    width:100%;
}

#article-link li{
    height:30px;
    width:100%;
    padding:5px 0px 0px 0px;
    border-bottom:green 1px solid;
    background-color:#fff;
}

article a{
    color:#008000;
    background-color:#333;
}

#article-link li a{
    color:#000;
    vertical-align: middle;
}

.sidebar{
    width:30%;
    padding-top:30px;
    border-left:#000 2px solid;
    text-align:center;
    background-color: #555;
}

#advert{
    height:350px;
    width:100%;
    padding:0;
    background-color:#000;
    margin:0;
}

#advert img{
    width:100%;
    height:350px;
    animation-timing-function:ease;
    animation-iteration-count: infinite;
    animation-duration: 10s;
} 
 
@keyframes move_one{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}

#buttons{
    width:100%;
    padding:0;
    margin:0;
    text-align:center;
    background-color:#333;
    overflow:hidden;
}
#buttons img{
    width:7px;
    height:7px;
    margin:0;
    top:0;
}

/* ------------- Blog Addition ends here ------------ */

/* ------------ About us additional css ------------- */
/* about page and event page uses same navbar css */
.static-nav{
    width:100%;
    position:fixed;
    top:0;
    left:0;
    background-color:rgb(0,0,0);
    box-shadow:0px 3px 4px rgb(90, 90, 90);
    opacity:0.9;
    z-index:1;
    display:inline-flex;
}
.static-nav a {
    display:inline-flex;
    color: #f2f2f2;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 17px;
}

.static-nav a:hover {
    Border-bottom:#008C00 1px solid;
    transition:1s;
}
.green-bg{
    margin:0;
    width:100%;
    padding:180px 0px 0px 0px;
    background-image:url("images/environmental.jpg");
    background-position:center;
    background-repeat:no-repeat;
    height:240px;
    text-align:center;
    margin-top:60px;
}
.about-mid-container{
    width:100%;
    border-top:#000 5px solid;
    padding:60px 0px 60px 0px;
    text-align:center;
    background-color:green;
}
.about-mid-container h5{
    text-transform:uppercase;
    color:#000;
    font-weight:bolder;
}
.about-mid-container p{
    padding:30px;
}
/* ----- additional css for events page ------- */
.event-mid-container{
    width:100%;
    margin:0;
    border-top:#000 5px solid;
    padding-top:15px;
    text-align:center;
    background-color:#000;
}

.event-body{
    background-color:#222;
}

.event-mid-container h5{
    text-transform:uppercase;
    color:#000;
    font-weight:bolder;
    background-color:green;
}

.event-mid-container p{
    padding:30px;
}

#events{
    width:100%;
    padding:0;
    display:flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content:center;
}

#events div{
    width:400px;
    margin:10px;
    padding:0;
    background-color:#666;
    text-align:center;
}

#events div img{
    width:100%;
    height:400px;
}
/*==================services section==================*/
footer::before{
    clear:both;
}

#footer{
    width:100%;
    background:linear-gradient(to top, rgb(255, 255,255,0)10%, rgb(255,255,255,0.1)90%);
    display:flex;
    background-color: #000;
    border:none;
    flex-direction:row;
    padding:0px 0px 0px 50px;
}

ul{
    list-style:none;
    padding:0;
    margin:0;
}

.links{
    width:65%;
    text-align:center;
    margin-left:10%;
}

aside{
    width:35%;
    padding:30px 0px 0px 0px;
    text-align:center;
    border-left:#999 1px solid;
}

.table{
    width:60%;
    text-align:center;
    border:none;
}

.table td{
    border:none;
}

aside ul{
    width:100%;
    text-align:center;
    margin-bottom:10px;
}

aside ul li{
    width:8%;
    padding:0;
    text-align:center;
    margin:0px 10px 0px 0px;
    display:inline-block;
}

aside img:hover{
    height:30px;
    width:30px;
}

aside img{
    height:25px;
    width:25px;
}

aside input{
    border:none;
    margin:0;
    padding:10px;
    height:40px;
}

aside input[type="text"]:focus{
    outline:none;
}

.newsmail{
    width:310px;
    padding-left:12px;
}

.newssend{
    width:70%;
    margin-top:10px;
}

footer{
    width:100%;
    background-color:#000;
    text-align:center;
    border-top:#999 1px solid;
}

@keyframes pop{
    from{
        height:0px;
        width:0px;
    }
    to{
        height:150px;
        width:150px;
    }
}

/* ------ rwd role -------- */

@media only screen and (max-width:1300px){
    .blog-container{
        width:94%;
        padding:0;
        transition:2s;
    }
}

@media only screen and (max-width:1100px){
    .carousel-inner img{
        height:550px;
    }

    .newsmail{
        width:100%;
        padding-left:12px;
    }

    .newssend{
        width:70%;
        margin-top:10px;
    }

    .blog-container{
        width:98%;
        transition:2s;
    }
}
/*=========further-mobile======*/
@media only screen and (max-width:750px){
    .carousel-inner img{
        height:500px;
    }

    .postimg{
        height:350px;
        transition:2s;
    }

    .more{
        height:50px;
        overflow:hidden;
    }

    #advert{
        height:250px;
    }

    #advert img{
        height:250px;
    }

    .blog-search{
        height:30px;
    }

    .newsmail{
        width:100%;
        height:30px;
        padding-left:12px;
    }

    .newssend{
        width:100%;
        margin-top:10px;
        height:30px;
    }
}

@media only screen and (max-width:600px){
    .carousel-inner img{
        height:450px;
    }

    .postimg{
        height:250px;
    }

    #footer{
        padding:0px 0px 0px 0px;
    }
}

@media screen and (max-width:580px){
    .navlink{
        padding-left:30%;
        width:100%;
        text-align:center;
    }

    .navlink ul{
        position:absolute;
        width:100%;
        background-color: #000;
        padding:0;
        margin-top:12px;
        right:15px;
    }

    .navlink ul li{
        width:100%;
        margin-bottom:2px;
        text-align:center;
        background-color:#333;
    }

    .navlink a{
        width:100%;
        text-align:center;
    }
}

@media only screen and (max-width:550px){
    .carousel-inner img{
        height:400px;
    }
}

@media only screen and (max-width:300px){
    .carousel-inner img{
        height:300px;
    }

    aside img:hover{
        height:25px;
        width:25px;
    }

    aside img{
        height:10px;
        width:10px;
    }

    aside{
        
        padding:10px 0px 0px 0px;
    }

    aside ul li{
        width:10%;
        margin:0px 2px 0px 0px;
    }

    article{
        text-align:left;
        line-height:1.0;
    }

    #blog-image img{
        height:200px;
    }

    .postimg{
        height:150px;
    }

    #advert{
        height:150px;
    }

    #advert img{
        height:150px;
    }

    .newsmail{
        height:20px;
        padding-left:2px;
    }

    .newssend{
        height:20px;
    }   
}
